.header-bg{
   color: white;
   background-color: #000;       
}

.header{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    margin-left:auto;
    margin-right: auto;
    gap: 20px;
    
}

.menu-linha{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    
}

.menu-linha a {
    display: inline-block;
    padding: 16px 0px;
    font-size: 1.125rem;
    color:#FFFFFF;
    position: relative;
    
}
.menu-linha a:after{
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background-color: #FFFF;
    transition: 0.3s;
    position: absolute;
}

.menu-linha a:hover:after{
    width: 100%;
    
}



@media (max-width: 800px) {
    .header{
        justify-content: center;
    }
    .menu-linha{
        gap: 20px;
    }
    .menu-linha a{
        background-color:#111111;
        padding: 12px 16px;
        border-radius: 4px;
    }
    .menu-linha a:hover{
        background-color: #2E2E2E;
    }
     .menu-linha a:after{
         display: none;
    }
}

@media (max-width: 600px) {
    .header{
        justify-content: center;
    }
    .menu-linha{
        gap: 12px;
    }
    .menu-linha a{
        background-color:#111111;
        padding: 8px 12px;
        font-size: 0.875rem;
    }
    .menu-linha a:hover{
        background-color: #2E2E2E;
    }
}